{% extends 'base.html' %}

{% block meta %}
<title>Preview</title>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ buku.gambar }}" alt="{{ buku.judul }}" class="img-fluid card-img-top">
        </div>
        <div class="col-md-6">
            <h2>{{ buku.judul }}</h2>
            <p>{{ buku.description }}</p>
            <a href="{% url 'modul_preview:show_bacaan' buku.pk %}" class="btn btn-primary">
                Baca Buku
            </a>
            <a href="{% url 'modul_favorites:add_favorites' buku.pk %}" class="btn btn-primary">
                Tambahkan ke Favorit
            </a>
            <a href="{% url 'main:show_main'%}" class="btn btn-primary">
                Back to Home
            </a>
            <a href="{% url 'main:delete_buku' buku.pk%}" class="btn btn-danger">
                Delete
            </a>
        </div>
    </div>
</div>
{% endblock content %}