{% extends 'base.html' %}

{% block meta %}
<title>Preview</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
    <h2>Your Favorite Books</h2>
    <div class="row">
        {% for book in buku %}
        <div class="col-md-4">
            <a href="{% url 'main:show_preview' book.pk %}"> 
            <div class="card mb-4">
                <img src="{{ book.gambar }}" class="card-img-top" alt="{{ book.judul }}">
                <div class="card-body small-card-body" >
                    <h5 class="card-title">{{ book.judul }}</h5>
                    <p class="card-text">Author: {{ book.penulis }}</p>
                    <p class="card-text">Pages: {{ book.jumlah_halaman }}</p>
                    <p class="card-text">Language: {{ book.bahasa }}</p>
                    <p class="card-text">Publisher: {{ book.penerbit }}</p>
                    <p class="card-text">Rating: {{ book.rating }}</p>
                    <a href="{% url 'modul_favorites:remove_favorites' book.pk %}" class="btn btn-danger">Remove from Favorites</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .small-card-body {
        padding: 10px;
    }
</style>
{% endblock content %}