{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
{% endblock meta %}


{% block content %}

<div class="container">
    <div class = "row">
        <div class = "col-4" style="padding-right:0">
            <h4><strong>Karya Pengguna</strong></h4>
            <div id = "carouselindicator" class = "carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    {% for karya in karya %}
                        {% if forloop.counter0 < 5 %}
                            {% if forloop.counter0 == 0 %}
                                <button id="indikatorlingkaran" type="button" data-bs-target="#carouselindicator" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            {% else %}
                                <button id="indikatorlingkaran" type="button" data-bs-target="#carouselindicator" data-bs-slide-to="{{forloop.counter0}}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="carousel-inner">
                    {% for karya in karya %}
                        {% if forloop.counter0 < 5 %}
                            {% if forloop.counter0 == 0 %}
                                
                                <div class="carousel-item active">
                                    <a href = "{% url 'main:show_preview' karya.pk %}">
                                    <button class="buttonbuku">
                                        <img src="{{karya.gambar}}" id="sampulbuku" alt="...">
                                        <div class="penampungjudul">
                                            <ul>
                                                <li id = "cover"><Strong id = "cover">{{karya.judul}}</Strong></li>
                                                <li id = "cover">{{karya.penulis}}</li>
                                            </ul>  
                                        </div>
                                    </button>
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a href = "{% url 'main:show_preview' karya.pk %}">
                                    <button class="buttonbuku">
                                        <img src="{{karya.gambar}}" id="sampulbuku" alt="...">
                                        <div class="penampungjudul">
                                            <ul>
                                                <li id = "cover"><Strong id = "cover">{{karya.judul}}</Strong></li>
                                                <li id = "cover">{{karya.penulis}}</li>
                                            </ul>                                            
                                        </div>
                                    </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    {% for karya in karya %}
                        {% if forloop.counter0 < 5 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselindicator" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselindicator" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        {% endif %}
                    {% endfor %}
                </div>   
            </div>
            <p><br/><br/></p>
            <a href="{% url 'main:create_buku' %}" style="padding-top: 15px;">
                <button class="btn btn-primary">Add New Buku</button>
            </a>
        
            <a href="{% url 'main:logout' %}" style="padding-top: 15px;">
                <button class="btn btn-danger">Logout</button>
            </a>
        </div>
        <div class = "col-8" style="padding-right: 70px;padding-left: 90px;">
            <div>
                <h5>sebuah tulisan<br/><br/><br/></h5>
            </div>
            <div class = "row gx-5" id = "untukbuku">
                {% for buku in bukus %}
                    {% if forloop.counter0 < 4 %}
                        <div class="col-3">
                            <div class="card" id="sampulkecil">
                                <a href ="{% url 'main:show_preview' buku.pk %}">
                                    <button class="buttonbukukecil">                                    
                                        <img src="{{buku.gambar}}" id="sampulbuku" alt="...">
                                        <div class="penampungjudul">
                                            <ul class="smallfont">
                                                <li id = "coverkecil"><Strong id = "coverkecil">{{buku.judul}}</Strong></li>
                                                <li id = "coverkecil">{{buku.penulis}}</li>
                                            </ul>  
                                        </div>
                                    </button>                                
                                </a>
                            </div>
                        </div>
                    {%endif %}
                {% endfor %}
                <div class = "row" style="padding-top:15px;padding-right:  0px; margin-right: 0px;">
                    <a href = "#" align=right style="padding:0px;">
                        <button  align=right style="background-color: #240000;border-radius: 20px;color:whitesmoke">Lihat Semua</button>
                    </a>
                </div>
            </div>
            <div class = "row" id = "untukkatabijak" >
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 25vh;max-height: 25vh;">
                    <div class="carousel-inner" style="max-height: 25vh;height: 25vh;">
                        {% for kata in kata_bijak %}
                            {% if forloop.counter0 == 0 %}
                                <div class="carousel-item active" style="max-height: 25vh;height: 25vh;">
                                    <p style="overflow-y: scroll;">{{kata.kata_kata}}</p>
                                    <p>~{{kata.pengguna}}</p>
                                </div>
                            {% else %}
                                <div class="carousel-item" style="max-height: 25vh;height: 25vh;">
                                    <p style="overflow-y: scroll;">{{kata.kata_kata}}</p>
                                    <p>~{{kata.pengguna}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a href="#"  align=right>
                    <button align = right style="height: 30px; width: 30px; border-radius: 50%;background-color: #240000;color: whitesmoke;">Q</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}